/* Write your CSS here */
.total-price-view-container {
  align-self: flex-end;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.order-total-heading {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}
.order-total-price-heading {
  font-size: 30px;
  margin-bottom: 0px;
}
.items-text {
  color: gray;
  font-size: 18px;
  font-weight: 500;
}
.checkout-btn {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #0b69ff;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

