.payment-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Roboto;
}
.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  font-size: 30px;
  align-self: flex-end;
}
.payment-heading {
  margin-bottom: 0px;
  font-size: 35px;
}
.payment-method-heading {
  color: #666666;
  font-size: 30px;
}
.payment-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.payment-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
}
.payment-input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.payment-method-text {
  font-size: 20px;
  color: black;
  font-weight: 400;
}
.active-payment-method-text {
  color: #a6a2a2;
}
.payment-quantity-text {
  font-size: 22px;
}

.payment-amount-text {
  font-size: 25px;
  margin-top: 0px;
}
.payment-confirm-btn {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
  align-self: center;
}
.order-confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-placed-view {
  font-size: 25px;
}
.back-to-shop {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
  align-self: center;
}
.green-tick-icon {
  color: green;
  font-size: 50px;
}
.back-to-shop-link {
  text-decoration: none;
}
